{% extends "account/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'main/css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-box">
  <h2>Поменять пароль</h2>
  
  <p class="auth-description">
  </p>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Поменять пароль</button>
  </form>

  <p class="auth-links">
    Забыли пароль? <a href="{% url 'account_reset_password' %}">Сброс пароля</a>
  </p>
</div>
{% endblock %}