{% extends "account/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'main/css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-box">
  <h2>Сброс пароля</h2>
  
  <p class="auth-description">
    Введите свой адрес электронной почты, и мы вышлем вам ссылку для сброса вашего пароля.
  </p>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить ссылку для сброса</button>
  </form>

  <p class="auth-links">
    Помните свой пароль? <a href="{% url 'account_login' %}">Логин</a>
  </p>
</div>
{% endblock %}